.field {
    box-sizing: border-box;
    display: block;
    min-height: 25px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 15px;
    resize: none;
    overflow-y: scroll;
}

.input:focus{
    outline: none;
}

.bg-blue{
    background-color: rgb(28, 34, 117);
}

body{
    background: rgb(70, 78, 193);
}

.notify{
    font-size: 12px;
    color: black;
    background-color: gray;
}

.hidden{
    display: none;
}